USE [master]
GO
/****** Object:  Database [QL_NHANVIEN]    Script Date: 11/03/2025 00:20:10 ******/
CREATE DATABASE [QL_NHANVIEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_NHANVIEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QL_NHANVIEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_NHANVIEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QL_NHANVIEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_NHANVIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_NHANVIEN]
GO
/****** Object:  Table [dbo].[DEAN]    Script Date: 11/03/2025 00:20:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEAN](
	[MADA] [char](5) NOT NULL,
	[TENDA] [nvarchar](50) NOT NULL,
	[DIADIEMDA] [nvarchar](30) NULL,
	[NGAYBD] [date] NULL,
 CONSTRAINT [PK_DEAN] PRIMARY KEY CLUSTERED 
(
	[MADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/03/2025 00:20:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](6) NOT NULL,
	[HOTEN] [nvarchar](40) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[PHAI] [nchar](3) NULL,
	[LUONG] [money] NULL,
	[MANQL] [char](6) NULL,
	[MAPH] [char](5) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 11/03/2025 00:20:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONG](
	[MANV] [char](6) NOT NULL,
	[MADA] [char](5) NOT NULL,
	[NGAYPC] [date] NULL,
 CONSTRAINT [PK_PHANCONG] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[MADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 11/03/2025 00:20:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPH] [char](5) NOT NULL,
	[TENPH] [nvarchar](30) NOT NULL,
	[DIADIEM] [nvarchar](40) NULL,
 CONSTRAINT [PK_PHONGBAN] PRIMARY KEY CLUSTERED 
(
	[MAPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANNHAN]    Script Date: 11/03/2025 00:20:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANNHAN](
	[MANV] [char](6) NOT NULL,
	[TENTN] [nvarchar](40) NOT NULL,
	[PHAI] [nchar](3) NULL,
	[NGAYSINH] [date] NULL,
	[QUANHE] [nvarchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THENHANVIEN]    Script Date: 11/03/2025 00:20:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THENHANVIEN](
	[MANV] [char](6) NOT NULL,
	[NGAYCAP] [date] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DEAN] ([MADA], [TENDA], [DIADIEMDA], [NGAYBD]) VALUES (N'DA001', N'Đền bù giải toả', N'Phường 12, Q. Tân Bình', CAST(N'2015-01-01' AS Date))
INSERT [dbo].[DEAN] ([MADA], [TENDA], [DIADIEMDA], [NGAYBD]) VALUES (N'DA002', N'Giải phóng mặt bằng', N'Phường 12, Q. Tân Bình', CAST(N'2015-06-01' AS Date))
INSERT [dbo].[DEAN] ([MADA], [TENDA], [DIADIEMDA], [NGAYBD]) VALUES (N'DA003', N'Cải tạo mặt đường số 9', N'Phường Tây Thạnh, Q. Tân Phú', CAST(N'2016-01-01' AS Date))
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NGAYSINH], [DIACHI], [PHAI], [LUONG], [MANQL], [MAPH]) VALUES (N'NV0001', N'Nguyễn Văn Nam', CAST(N'1998-07-12' AS Date), N'Tây Ninh', N'Nam', 1500000.0000, N'NV0009', N'PH003')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NGAYSINH], [DIACHI], [PHAI], [LUONG], [MANQL], [MAPH]) VALUES (N'NV0002', N'Nguyễn Kim Anh', CAST(N'1990-02-10' AS Date), N'TP. HCM', N'Nữ ', 800000.0000, N'NV0009', N'PH003')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NGAYSINH], [DIACHI], [PHAI], [LUONG], [MANQL], [MAPH]) VALUES (N'NV0003', N'Nguyễn Thị Châu', CAST(N'1979-10-12' AS Date), N'Vũng Tàu', N'Nữ ', 1200000.0000, N'NV0006', N'PH005')
GO
INSERT [dbo].[PHANCONG] ([MANV], [MADA], [NGAYPC]) VALUES (N'NV0001', N'DA001', CAST(N'2015-02-05' AS Date))
INSERT [dbo].[PHANCONG] ([MANV], [MADA], [NGAYPC]) VALUES (N'NV0001', N'DA003', CAST(N'2016-03-17' AS Date))
INSERT [dbo].[PHANCONG] ([MANV], [MADA], [NGAYPC]) VALUES (N'NV0003', N'DA003', CAST(N'2016-01-01' AS Date))
GO
INSERT [dbo].[PHONGBAN] ([MAPH], [TENPH], [DIADIEM]) VALUES (N'PH001', N'Kế hoạch', N'Tầng 1 nhà A')
INSERT [dbo].[PHONGBAN] ([MAPH], [TENPH], [DIADIEM]) VALUES (N'PH002', N'Quản trị', N'Tầng 1 nhà B')
INSERT [dbo].[PHONGBAN] ([MAPH], [TENPH], [DIADIEM]) VALUES (N'PH003', N'Nhân sự', N'Tầng 2 nhà A')
GO
INSERT [dbo].[THANNHAN] ([MANV], [TENTN], [PHAI], [NGAYSINH], [QUANHE]) VALUES (N'NV0001', N'Nguyễn Văn Bình', N'Nam', CAST(N'1983-05-22' AS Date), N'Anh')
INSERT [dbo].[THANNHAN] ([MANV], [TENTN], [PHAI], [NGAYSINH], [QUANHE]) VALUES (N'NV0002', N'Nguyễn Chính Nghĩa', N'Nam', CAST(N'1998-03-07' AS Date), N'Em')
INSERT [dbo].[THANNHAN] ([MANV], [TENTN], [PHAI], [NGAYSINH], [QUANHE]) VALUES (N'NV0005', N'Lê Anh Hùng', N'Nam', CAST(N'1978-04-05' AS Date), N'Chồng')
GO
INSERT [dbo].[THENHANVIEN] ([MANV], [NGAYCAP]) VALUES (N'NV0001', CAST(N'2018-03-05' AS Date))
INSERT [dbo].[THENHANVIEN] ([MANV], [NGAYCAP]) VALUES (N'NV0002', CAST(N'2019-03-17' AS Date))
INSERT [dbo].[THENHANVIEN] ([MANV], [NGAYCAP]) VALUES (N'NV0003', CAST(N'2020-01-01' AS Date))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_MAPH] FOREIGN KEY([MAPH])
REFERENCES [dbo].[PHONGBAN] ([MAPH])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_MAPH]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_MADA] FOREIGN KEY([MADA])
REFERENCES [dbo].[DEAN] ([MADA])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_MADA]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_MANV]
GO
ALTER TABLE [dbo].[THANNHAN]  WITH CHECK ADD  CONSTRAINT [FK_THANNHAN_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[THANNHAN] CHECK CONSTRAINT [FK_THANNHAN_MANV]
GO
ALTER TABLE [dbo].[THENHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_THENHANVIEN_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[THENHANVIEN] CHECK CONSTRAINT [FK_THENHANVIEN_MANV]
GO
USE [master]
GO
